header {
   height: 60px;
   background-color: var(--color-primary);
   display: flex;
   align-items: center;
}

.events-nav-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: white;
}

.events-nav-content h1 {
   font-size: 24px;
   margin: 0;
   font-weight: 700;
}

.events-nav-content a {
   text-decoration: none;
   color: inherit;
}

.a {
   display: flex;
   align-items: center;
}

.b {
   margin: 0 0 0 10px;
   font-size: 12px;
}